.event-fail {
  color: #ff2f39;
  background-color: #ff8a90;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

.event-succes {
  color: #2a823f;
  background-color: #9affa8;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

