.leaderboards-filter{
    margin:50px 0 30px 0;
    padding:6px;
    border:2px solid #ff9a95;
    border-radius:3px;
    background-color: white;
}

.leaderboards-data{
    width:100%; text-align: left; display: flex; flex-direction: row; justify-content: space-between;
}
.leaderboards-data--head{
    font-weight:bold;
    border-bottom:3px solid #f0f0f0;
    margin-bottom:20px;
    padding-bottom:10px;
}
.leaderboards-data--nerd{
    margin:0 20px;
}
.medal-counter{
    font-size:.8em;
}

@media screen and (max-width: 530px) {
    .leaderboards-data{
        font-size:.8em;
    }
}