body{
    background-color: #f6f6f6;
    font-family: 'Roboto Slab', serif;
    color: #373737;
}

::selection {
    background: #ffe4df; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffe4df; /* Gecko Browsers */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*:focus {
    outline: none;
}
nav a{
    color: #373737;
}
nav a:hover{
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
.tip{
    font-size:.9em;
    font-style: italic;
    
}
img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.wrap{
    max-width:1100px;
    padding:30px;
    display: block;
    margin:auto;
    margin-top:80px;

}
nav{
    width:100%;
    position: fixed;
    top:0;
    border-bottom:2px solid #f0f0f0;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 999999;
}
.nav-container{
    max-width:1100px;
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding:0 30px;
    padding-top:2px;
}

.profile-nav-link{
    margin-left: auto;
}
nav .logo{
    height:40px;
}
nav .profile-nav{
    height:50px;
    border-radius:100%;
}
nav ul{
    margin-left:20px;
    display: flex;
    flex-direction:row;
}
nav ul li{
    padding:25px 0;
    display: inline;
    margin-left:30px;
}
nav ul li a{
    padding:23px 3px;
    display: inline;
}
nav ul li a:hover{
    border-bottom:2px solid #EC3C34;
}
.active{
    border-bottom:2px solid #EC3C34;
}

/*dashboard*/

section{
    margin-bottom:60px;
    background-color: white;
    clear: both;
    padding:30px;
    box-sizing: border-box;
    border:1px solid #f0f0f0;
}
.half{
    width:47%;
    float: left;
    clear: none;
}
.half-left{
    float: left;
}
.half-right{
    float: right;
}
a:hover{
    text-decoration: none;
}
h1{
    color: #EC3C34;
    font-size:3em;
    font-weight:bolder;
}
h2{
    color: #EC3C34;
    font-size:2em;
    font-weight:bolder;
    margin-bottom:30px;
}
h3{
    color: #EC3C34;
    font-size:1.3em;
    font-weight:bolder;
    margin-top:20px;
}
.sub-title{
    margin-top:20px;
    font-weight:bold;
}
.goals{
    font-weight:bold;
    margin-top:20px;
    color: #ff9a95;
    font-size:1.2em;
}
p{
    line-height:1.5em;
}
.goals li{
    line-height:1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.goal-completed{
    color: #66cc70;
}

.activity{
    position: relative;
}

.percentageFill{
    margin-top:38px;
    height:20px;
    border:1px solid #f0f0f0;
}

.activity-user-info{
    position: absolute;
    top:15px;
    right:15px;
    display: inline-block;
    text-align: right;
}

.activity-user-info img {
    min-width: 100%;
    width:100%;
    height:100%;
}


.activity-user-info .img-container {
    border-radius: 100%;
    overflow: hidden;
    width:30px;
    height:30px;
    float: right;

}

.activity-user-info p {
    margin-bottom:5px;
    font-size:.8em;
    color: #ff9a95;
}

.completed-users{
    font:inherit;
    font-weight: bold;
    font-size:0.8em;
    margin-top: 25px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-completed{
    overflow: hidden;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: relative;
    margin:0 5px;
    opacity:1;
    transition: .3s ease;
}

.img-completed:hover{
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
}

.img-completed:last-child{
    margin-right: 0;
}

.img-completed img{
    height: 100%;
}

.ul-users{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.go-to-event{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right:20px;
    background-color: #ff9a95;
    border-radius: 100px;
}

.go-to-event a{
    background-image: url("/img/calendar.svg");
    -webkit-background-size:contain;
    background-size:60%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    text-indent:-9999px;
    display: block;
    width: 100%;
    height: 100%;
}

.goal-tree{
    /*margin: 0 0 40px 0;*/
    /*max-width: 100%;*/
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    border:1px solid #f0f0f0;
    box-sizing: border-box;
    padding:18px 5px 0px 5px;
    margin-bottom:15px;
}

.goal-tree img{
    height:20px;
    display: inline-block;
}

.currentTree{
    padding-bottom:15px;
    border-bottom:2px solid #EC3C34;
}


.password-field{
    display: none;
}

.halloffame-winners{
    display: inline-block;
    margin-left:50%;
    transform: translateX(-50%);
    position: relative;
}
.hall-stage{
    margin-top:250px;
}
.halloffame{
    align-self: center;
    width:48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction:column;
    position: absolute;
    left:50%;
    text-align: center;
}

.placed-1{
    transform: translate(-50%,70px);
}

.placed-2{
    transform: translate(-50%,160px);
    margin-left:-170px;
}

.placed-3{
    transform: translate(-50%,195px);
    margin-left:170px;
}

.halloffame .img-halloffame{
    width: 90px;
}

.img-halloffame .profile-big{
    width: 100%;
}

.normalize{
    display: inline-block !important;
    position: relative;
    opacity: 1;
}

@media screen and (max-width: 960px) {
    .half{
        width:100%;
    }
    .wrap{
        margin-top:100px;
    }
    section{
        margin-bottom:40px;
    }
}

@media screen and (max-width: 600px) {
    .hall-stage{
        margin-top:200px;
        width:350px;
    }
    .halloffame h3{
        font-size:1em;
        max-width:120px;
    }
    .halloffame p{
        font-size:.8em;
    }

    .placed-1{
        transform: translate(-50%,10px);
    }

    .placed-2{
        transform: translate(-50%,90px);
        margin-left:-120px;
    }

    .placed-3{
        transform: translate(-50%,115px);
        margin-left:120px;
    }
}
@media screen and (max-width: 530px) {
    .logo{
        display: none;
    }
    .nav-container{
        padding-left:15px;
        padding-right:15px;
    }
    .wrap{
        padding-left:15px;
        padding-right:15px;
    }
    nav ul{
        margin-left:0;
    }
    nav ul li{
        margin-left:15px;
    }
    nav ul li:first-of-type{
        margin-left:0;
    }
    h1{
        font-size:2em;
    }
    .goals{
        font-size:1.1em;
    }
}

.hall-nav{
    justify-content: space-between;
}
