body{
    background-color: #f6f6f6;
    font-family: 'Roboto Slab', serif;
    color: #373737;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*:focus {
    outline: none;
}
nav a{
    color: #373737;
}
nav a:hover{
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
.wrap{
    max-width:1100px;
    padding:30px;
    display: block;
    margin:auto;
    margin-top:130px;

}
nav{
    width:100%;
    position: fixed;
    top:0;
    border-bottom:2px solid #f0f0f0;
    background-color: #fff;
    box-sizing: border-box;
}
.nav-container{
    max-width:1100px;
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding:0 30px;
    padding-top:2px;
}

.profile-nav-link{
    margin-left: auto;
}
nav .logo{
    height:40px;
}
nav .profile-nav{
    height:50px;
    border-radius:100%;
}
nav ul{
    margin-left:20px;
    display: flex;
    flex-direction:row;
}
nav ul li{
    padding:25px 0;
    display: inline;
    margin-left:30px;
}
nav ul li a{
    padding:23px 3px;
    display: inline;
}
nav ul li a:hover{
    border-bottom:2px solid #EC3C34;
}
.active{
    border-bottom:2px solid #EC3C34;
}

/*dashboard*/

section{
    margin-bottom:60px;
    background-color: white;
    clear: both;
    padding:30px;
    box-sizing: border-box;
    border:1px solid #f0f0f0;
}
.half{
    width:47%;
    float: left;
    clear: none;
}
.half-left{
    float: left;
}
.half-right{
    float: right;
}
h1{
    color: #EC3C34;
    font-size:3em;
    font-weight:bolder;
}
h2{
    color: #EC3C34;
    font-size:2em;
    font-weight:bolder;
    margin-bottom:30px;
}
h3{
    color: #EC3C34;
    font-size:1.3em;
    font-weight:bolder;
    margin-top:20px;
}
.sub-title{
    margin-top:20px;
    font-weight:bold;
}
.goals{
    font-weight:bold;
    margin-top:20px;
    color: #ff9a95;
    font-size:1.2em;
}
p{
    line-height:1.5em;
}
.goals li{
    line-height:1.5em;
}

.percentageFill{
    margin-top:38px;
    height:20px;
    border:1px solid #f0f0f0;
}
@media screen and (max-width: 960px) {
    .half{
        width:100%;
    }
    .wrap{
        margin-top:100px;
    }
    section{
        margin-bottom:40px;
    }
}
@media screen and (max-width: 530px) {
    .logo{
        display: none;
    }
    .nav-container{
        padding-left:15px;
        padding-right:15px;
    }
    .wrap{
        padding-left:15px;
        padding-right:15px;
    }
    nav ul{
        margin-left:0;
    }
    nav ul li{
        margin-left:15px;
    }
    nav ul li:first-of-type{
        margin-left:0;
    }
    h1{
        font-size:2em;
    }
    .goals{
        font-size:1.1em;
    }
}