.nerdun-title{
    text-align: center;
    padding: 0 0 30px 0;
}

.strava-login button{
    margin: auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border: 1px solid #ff8a90;
    color: #ff8a90;
    transition: 0.3s;
}

.geek-button{
    display: block;
    background-color: rgba(0,0,0,0);
    border: 1px solid #ff8a90;
    color: #ff8a90;
    transition: 0.3s;
    margin-top:20px;
}
.geek-button:hover{
    background-color: #ff8a90;
    color: #fff;
    text-decoration: none;
}

.strava-login button:hover{
    background-color: #ff8a90;
    color: #fff;
    text-decoration: none;
}


.strava-login{
    margin-top:40px;
    display: inline-block;
}
.strava-login:hover{
    text-decoration: none;
}

.center{
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.splash-panel{
    max-width:420px;
    padding:40px;
    background-color: #fff;
    border:5px solid #f0f0f0;    text-align: center;

}

.splash{
    background-image: url(../img/background-splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.splash-p{
    margin-bottom:10px;
}