section .left {
  width: 50%;
  float: left;
  display: block;
  text-align: center;
}

section .right {
  width: 50%;
  float: right;
  display: block;
  text-align: center;
}

section {
  overflow: hidden;
}

.profile-big {
  border-radius: 100%;
  max-width: 180px;
}

.profile-top {
  text-align: center;
  position: relative;
}

strong {
  font-weight: 600;
  font-size: 1.4em;
  padding-bottom: 8px;
  display: block;
}

.activity {
  border: 1px solid #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.time-ago {
  margin-top: 10px;
  color: #b4b4b4;
}

.logout:link,
.logout:visited,
.logout:hover,
.logout:active {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  text-decoration: none;
  color: #EC3C34;
}

